body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.container{
    min-height: 5vh;
    background-color: #1f2937;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;



}

.header{
    width: 30%;
    flex-direction: row;
    -ms-flex-align: left;
    color: white; 

}


.tablink {
  background-color: #1f2937;
  color: white;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 15%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: whitesmoke;
  color: #1f2937;
}


.container_2{
    display: flex;
    min-height: 50vh;
    background-color: #1f2937;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    
}

section{
    flex: 1;
    /* border: 2px solid red;*/ 
    border-radius: 2em;
    height: 100%; /* or fixed height like 300px */
    width: 100%;
    display: flex;
    margin-top: 12%;
    margin-bottom: 12%;

}



.col-left{
  flex:1;
  /* border: 2px solid red;*/ 
  border-radius: 2em;
  background-color: palevioletred;

}
.col-right{
  flex:1;
  /* border: 2px solid red;*/ 
  border-radius: 2em;
  background-color: palegreen;

}